In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Pulling the tracks dataset out of postgresql on an AWS EC2 instance -- I cleaned this a bit before loading into
# SQL but it still needs a little cleaning and preparation. Note that I removed the password and IP address
# information from the line below.

cnx = create_engine('postgresql://username:password@IPAddress:5432')

In [3]:
# Testing pulling data from AWS:

pd.read_sql_query('''SELECT * FROM tracks LIMIT 5''', cnx)

# It works!

,unnamed_0,track_id,album_date_released,album_id,album_title,album_tracks,album_type,artist_year_begin,artist_year_end,artist_id,artist_name,set_split,set_subset,track_date_recorded,track_duration,track_genre_top,track_listens,track_number,track_title
0,2,2,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,small,2008-11-26 00:00:00,168,Hip-Hop,1293,3,Food
1,3,3,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,medium,2008-11-26 00:00:00,237,Hip-Hop,514,4,Electric Ave
2,4,5,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,small,2008-11-26 00:00:00,206,Hip-Hop,1151,6,This World
3,5,10,2008-02-06 00:00:00,6,Constant Hitmaker,2,Album,None,None,6,Kurt Vile,training,small,2008-11-26 00:00:00,161,Pop,50135,1,Freeway
4,6,20,2009-01-06 00:00:00,4,Niris,13,Album,1990-01-01 00:00:00,2011-01-01 00:00:00,4,Nicky Cook,training,large,2008-01-01 00:00:00,311,None,361,3,Spiritual Level

In [4]:
# Pulling over the rest of our tracks data from AWS

tracks = pd.read_sql_query('''SELECT * FROM tracks''', cnx)

In [5]:
# Now we'll read in the rest of our data (far too many columns to load into SQL)

features = pd.read_csv('features_updated.csv')

In [6]:
tracks.head()

,unnamed_0,track_id,album_date_released,album_id,album_title,album_tracks,album_type,artist_year_begin,artist_year_end,artist_id,artist_name,set_split,set_subset,track_date_recorded,track_duration,track_genre_top,track_listens,track_number,track_title
0,2,2,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,small,2008-11-26 00:00:00,168,Hip-Hop,1293,3,Food
1,3,3,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,medium,2008-11-26 00:00:00,237,Hip-Hop,514,4,Electric Ave
2,4,5,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,small,2008-11-26 00:00:00,206,Hip-Hop,1151,6,This World
3,5,10,2008-02-06 00:00:00,6,Constant Hitmaker,2,Album,None,None,6,Kurt Vile,training,small,2008-11-26 00:00:00,161,Pop,50135,1,Freeway
4,6,20,2009-01-06 00:00:00,4,Niris,13,Album,1990-01-01 00:00:00,2011-01-01 00:00:00,4,Nicky Cook,training,large,2008-01-01 00:00:00,311,None,361,3,Spiritual Level

In [7]:
tracks.drop(['unnamed_0'], axis=1, inplace=True)
tracks.head()

,track_id,album_date_released,album_id,album_title,album_tracks,album_type,artist_year_begin,artist_year_end,artist_id,artist_name,set_split,set_subset,track_date_recorded,track_duration,track_genre_top,track_listens,track_number,track_title
0,2,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,small,2008-11-26 00:00:00,168,Hip-Hop,1293,3,Food
1,3,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,medium,2008-11-26 00:00:00,237,Hip-Hop,514,4,Electric Ave
2,5,2009-01-05 00:00:00,1,AWOL - A Way Of Life,7,Album,2006-01-01 00:00:00,None,1,AWOL,training,small,2008-11-26 00:00:00,206,Hip-Hop,1151,6,This World
3,10,2008-02-06 00:00:00,6,Constant Hitmaker,2,Album,None,None,6,Kurt Vile,training,small,2008-11-26 00:00:00,161,Pop,50135,1,Freeway
4,20,2009-01-06 00:00:00,4,Niris,13,Album,1990-01-01 00:00:00,2011-01-01 00:00:00,4,Nicky Cook,training,large,2008-01-01 00:00:00,311,None,361,3,Spiritual Level

In [8]:
tracks.track_id.count()

106574

In [9]:
# Since the "top" genre is our dependent variable, let's see what we're dealing with.

tracks.track_genre_top.value_counts()

Rock                   14182
Experimental           10608
Electronic              9372
Hip-Hop                 3552
Folk                    2803
Pop                     2332
Instrumental            2079
International           1389
Classical               1230
Jazz                     571
Old-Time / Historic      554
Spoken                   423
Country                  194
Soul-RnB                 175
Blues                    110
Easy Listening            24
Name: track_genre_top, dtype: int64

In [10]:
# Looks like a bunch are missing -- let's check all of the variables.

tracks.isna().sum()

track_id                    0
album_date_released     36280
album_id                    0
album_title              1025
album_tracks                0
album_type               6508
artist_year_begin       83863
artist_year_end        101199
artist_id                   0
artist_name                 0
set_split                   0
set_subset                  0
track_date_recorded    100415
track_duration              0
track_genre_top         56976
track_listens               0
track_number                0
track_title                 1
dtype: int64

In [11]:
# Looks like the artists' beginning and end years and the dates tracks were recorded are mostly missing so we will
# drop them. Also we will have to drop the 56,976 albums missing a top genre -- we might use them in a future
# project but this is going to be complicated enough already!

tracks.drop(['artist_year_begin', 'artist_year_end', 'track_date_recorded'], axis=1, inplace=True)
tracks = tracks[tracks.track_genre_top.notna()]
print(tracks.track_id.count())
tracks.isna().sum()

49598

track_id                   0
album_date_released    16086
album_id                   0
album_title              309
album_tracks               0
album_type              2047
artist_id                  0
artist_name                0
set_split                  0
set_subset                 0
track_duration             0
track_genre_top            0
track_listens              0
track_number               0
track_title                1
dtype: int64

In [12]:
# Next let's check out the features data we read in from CSV and then merge the two.

features.head()

,Unnamed: 0,track_id,chroma_cens,chroma_cens.1,chroma_cens.2,chroma_cens.3,chroma_cens.4,chroma_cens.5,chroma_cens.6,chroma_cens.7,...,tonnetz.39,tonnetz.40,tonnetz.41,zcr,zcr.1,zcr.2,zcr.3,zcr.4,zcr.5,zcr.6
0,3,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.000000,2.089872,0.061448
1,4,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.000000,1.716724,0.069330
2,5,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.000000,2.193303,0.044861
3,6,10,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,...,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.000000,3.542325,0.040800
4,7,20,-0.193837,-0.198527,0.201546,0.258556,0.775204,0.084794,-0.289294,-0.816410,...,0.095003,0.022492,0.021355,16.669037,0.469727,0.047225,0.040039,0.000977,3.189831,0.030993

In [13]:
features.drop(['Unnamed: 0'], axis=1, inplace=True)
features.head()

,track_id,chroma_cens,chroma_cens.1,chroma_cens.2,chroma_cens.3,chroma_cens.4,chroma_cens.5,chroma_cens.6,chroma_cens.7,chroma_cens.8,...,tonnetz.39,tonnetz.40,tonnetz.41,zcr,zcr.1,zcr.2,zcr.3,zcr.4,zcr.5,zcr.6
0,2,7.180653,5.230309,0.249321,1.347620,1.482478,0.531371,1.481593,2.691455,0.866868,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.000000,2.089872,0.061448
1,3,1.888963,0.760539,0.345297,2.295201,1.654031,0.067592,1.366848,1.054094,0.108103,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.000000,1.716724,0.069330
2,5,0.527563,-0.077654,-0.279610,0.685883,1.937570,0.880839,-0.923192,-0.927232,0.666617,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.000000,2.193303,0.044861
3,10,3.702245,-0.291193,2.196742,-0.234449,1.367364,0.998411,1.770694,1.604566,0.521217,...,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.000000,3.542325,0.040800
4,20,-0.193837,-0.198527,0.201546,0.258556,0.775204,0.084794,-0.289294,-0.816410,0.043851,...,0.095003,0.022492,0.021355,16.669037,0.469727,0.047225,0.040039,0.000977,3.189831,0.030993

In [14]:
features.isna().sum()

# sweet!

track_id          0
chroma_cens       0
chroma_cens.1     0
chroma_cens.2     0
chroma_cens.3     0
chroma_cens.4     0
chroma_cens.5     0
chroma_cens.6     0
chroma_cens.7     0
chroma_cens.8     0
chroma_cens.9     0
chroma_cens.10    0
chroma_cens.11    0
chroma_cens.12    0
chroma_cens.13    0
chroma_cens.14    0
chroma_cens.15    0
chroma_cens.16    0
chroma_cens.17    0
chroma_cens.18    0
chroma_cens.19    0
chroma_cens.20    0
chroma_cens.21    0
chroma_cens.22    0
chroma_cens.23    0
chroma_cens.24    0
chroma_cens.25    0
chroma_cens.26    0
chroma_cens.27    0
chroma_cens.28    0
                 ..
tonnetz.19        0
tonnetz.20        0
tonnetz.21        0
tonnetz.22        0
tonnetz.23        0
tonnetz.24        0
tonnetz.25        0
tonnetz.26        0
tonnetz.27        0
tonnetz.28        0
tonnetz.29        0
tonnetz.30        0
tonnetz.31        0
tonnetz.32        0
tonnetz.33        0
tonnetz.34        0
tonnetz.35        0
tonnetz.36        0
tonnetz.37        0
tonnetz.38        0
tonnetz.39        0
tonnetz.40        0
tonnetz.41        0
zcr               0
zcr.1             0
zcr.2             0
zcr.3             0
zcr.4             0
zcr.5             0
zcr.6             0
Length: 519, dtype: int64

In [15]:
# Now let's merge features into the tracks dataframe.

merged_df = tracks.merge(features, on = 'track_id')
merged_df.shape
# Merge looks good!

(49598, 533)

In [16]:
# Rather than create my own train/test split I'm going to use the split's they've defined, because if I choose to 
# limit a model to the small or medium data sets the train/test splits are already defined within each of those
# subsets as well as the whole file. 

# Additionally, I'm going to use their validation split instead of running KFold or another cross-validation method
# for two reasons. First, I'll be upsampling within the training set and would prefer that the validation set
# not be upsampled as well. Second, the train/validation/test splits in the data are already stratified and also
# make sure that all songs from a particular artist appear in only one of the three sets. Having songs from the
# same artist appear in both test and train may reward overfitting since they are likely to be very similar.

# The small subset includes 8,000 tracks evenly divided among 8 genres, and the medium subset includes an additional
# 17,000 tracks to produce an unbalanced set of tracks that all have a single top genre, excellent metadata, and
# are relatively popular. The remaining tracks in the large dataset still have ample metadata for my purposes
# as well as a single top genre, so I don't have any a priori reason to exclude them.

print(merged_df.set_split.value_counts())
print(merged_df.set_subset.value_counts())
print(pd.crosstab(merged_df['track_genre_top'], merged_df['set_subset']))

training      39943
test           4951
validation     4704
Name: set_split, dtype: int64
large     24598
medium    17000
small      8000
Name: set_subset, dtype: int64
set_subset           large  medium  small
track_genre_top
Blues                   36      74      0
Classical              611     619      0
Country                 16     178      0
Easy Listening           3      21      0
Electronic            3058    5314   1000
Experimental          8357    1251   1000
Folk                  1284     519   1000
Hip-Hop               1351    1201   1000
Instrumental           729     350   1000
International          371      18   1000
Jazz                   187     384      0
Old-Time / Historic     44     510      0
Pop                   1146     186   1000
Rock                  7079    6103   1000
Soul-RnB                21     154      0
Spoken                 305     118      0

In [17]:
# Now to turn the genres into numeric categories for modeling purposes:

merged_df['track_genre_top'] = merged_df['track_genre_top'].map({'Rock' : 0, 'Experimental' : 1, \
    'Electronic' : 2, 'Hip-Hop' : 3, 'Folk' : 4, 'Pop' : 5, 'Instrumental' : 6, 'International' : 7, \
    'Classical' : 8, 'Jazz' : 9, 'Old-Time / Historic' : 10, 'Spoken' : 11, 'Country' : 12, \
    'Soul-RnB' : 13, 'Blues' : 14, 'Easy Listening' : 15})

merged_df.track_genre_top.value_counts()

0     14182
1     10608
2      9372
3      3552
4      2803
5      2332
6      2079
7      1389
8      1230
9       571
10      554
11      423
12      194
13      175
14      110
15       24
Name: track_genre_top, dtype: int64

In [18]:
# It's "don't be a hero" time and so I'm dropping the 7 genres that have less than 1,000 tracks in my dataset.
# This still leaves me with 9 genres, which is plenty complicated enough.

merged_df.drop(merged_df[merged_df.track_genre_top > 8].index, inplace = True)
merged_df.track_genre_top.value_counts()

0    14182
1    10608
2     9372
3     3552
4     2803
5     2332
6     2079
7     1389
8     1230
Name: track_genre_top, dtype: int64

In [19]:
# Let's break out into X and y train, validate, and test:

X_train = merged_df[merged_df.set_split == "training"]
X_val = merged_df[merged_df.set_split == "validation"]
X_test = merged_df[merged_df.set_split == "test"]

y_train = X_train['track_genre_top']
y_val = X_val['track_genre_top']
y_test = X_test['track_genre_top']


X_train.drop(['track_genre_top', 'album_id', 'album_title', 'artist_id', 'artist_name', 'set_split', \
              'set_subset', 'track_title', 'album_date_released', 'album_type'], axis=1, inplace=True)
X_val.drop(['track_genre_top', 'album_id', 'album_title', 'artist_id', 'artist_name', 'set_split', \
              'set_subset', 'track_title', 'album_date_released', 'album_type'], axis=1, inplace=True)
X_test.drop(['track_genre_top', 'album_id', 'album_title', 'artist_id', 'artist_name', 'set_split', \
              'set_subset', 'track_title', 'album_date_released', 'album_type'], axis=1, inplace=True)

print(X_train.shape)
print(X_val.shape)
print(X_test.shape)
print(y_train.shape)
print(y_val.shape)
print(y_test.shape)

(38385, 523)
(4424, 523)
(4738, 523)
(38385,)
(4424,)
(4738,)

/Users/jakebartolone/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [20]:
# Let's reduce some dimensions! We'll apply PCA to our training set and then apply the same transformations
# to X_val and X_test. Let's try reducing our 500-ish dimensions down to 15:

from sklearn.decomposition import PCA

pca = PCA(n_components=15)
pca.fit(X_train)

pca.explained_variance_ratio_


#Looks reasonable -- the explained variance ratios get small pretty quickly.

array([9.81310143e-01, 1.52758613e-02, 1.89794982e-03, 9.81379327e-04,
       1.76792654e-04, 1.05654251e-04, 8.50226892e-05, 3.75410728e-05,
       3.05927030e-05, 2.16586487e-05, 1.71900598e-05, 1.42764179e-05,
       1.02855494e-05, 7.49891408e-06, 5.01232503e-06])

In [21]:
# Now we transform all of our X sets using the PCA that is based only on X_train (so there is no feature bleed):

X_train_tr = pca.transform(X_train)
X_val_tr = pca.transform(X_val)
X_test_tr = pca.transform(X_test)

print(X_train_tr.shape)
print(X_val_tr.shape)
print(X_test_tr.shape)

(38385, 15)
(4424, 15)
(4738, 15)

In [22]:
# Now let's oversample within our training dataset using SMOTE because I like the idea of it making up
# fake songs from smaller genres rather than just copying existing songs. We are using the PCA-transformed
# version of X_train.

from imblearn.over_sampling import SMOTE

sm = SMOTE(random_state=2)
X_train_res, y_train_res = sm.fit_sample(X_train_tr, y_train.ravel())

print(X_train_res.shape)
print(y_train_res.shape)

(102546, 15)
(102546,)

In [23]:
# Now save both the oversampled X_train and y_train as well as the non-oversampled versions, plus our validation
# and test sets:

pd.DataFrame(X_train_tr).to_csv("X_train.csv")
pd.DataFrame(X_train_res).to_csv("X_train_oversmp.csv")
pd.DataFrame(X_val_tr).to_csv("X_val.csv")
pd.DataFrame(X_test_tr).to_csv("X_test.csv")

y_train.to_csv("y_train.csv")
pd.DataFrame(y_train_res).to_csv("y_train_oversmp.csv")
y_val.to_csv("y_val.csv")
y_test.to_csv("y_test.csv")

In [24]:
# Making a top-3 genre only version so I can also model only on those genres:

top3_df = merged_df.drop(merged_df[merged_df.track_genre_top > 2].index)
print(top3_df.track_genre_top.value_counts())

X_train_top3 = top3_df[top3_df.set_split == "training"]
X_val_top3 = top3_df[top3_df.set_split == "validation"]
X_test_top3 = top3_df[top3_df.set_split == "test"]

y_train_top3 = X_train_top3['track_genre_top']
y_val_top3 = X_val_top3['track_genre_top']
y_test_top3 = X_test_top3['track_genre_top']


X_train_top3.drop(['track_genre_top', 'album_id', 'album_title', 'artist_id', 'artist_name', 'set_split', \
              'set_subset', 'track_title', 'album_date_released', 'album_type'], axis=1, inplace=True)
X_val_top3.drop(['track_genre_top', 'album_id', 'album_title', 'artist_id', 'artist_name', 'set_split', \
              'set_subset', 'track_title', 'album_date_released', 'album_type'], axis=1, inplace=True)
X_test_top3.drop(['track_genre_top', 'album_id', 'album_title', 'artist_id', 'artist_name', 'set_split', \
              'set_subset', 'track_title', 'album_date_released', 'album_type'], axis=1, inplace=True)

print(X_train_top3.shape)
print(X_val_top3.shape)
print(X_test_top3.shape)
print(y_train_top3.shape)
print(y_val_top3.shape)
print(y_test_top3.shape)

pca_top3 = PCA(n_components=15)
pca_top3.fit(X_train_top3)

X_train_top3 = pca.transform(X_train_top3)
X_val_top3 = pca.transform(X_val_top3)
X_test_top3 = pca.transform(X_test_top3)

print(X_train_top3.shape)
print(X_val_top3.shape)
print(X_test_top3.shape)

pd.DataFrame(X_train_top3).to_csv("X_train_top3.csv")
pd.DataFrame(X_val_top3).to_csv("X_val_top3.csv")
pd.DataFrame(X_test_top3).to_csv("X_test_top3.csv")

y_train_top3.to_csv("y_train_top3.csv")
y_val_top3.to_csv("y_val_top3.csv")
y_test_top3.to_csv("y_test_top3.csv")

0    14182
1    10608
2     9372
Name: track_genre_top, dtype: int64

/Users/jakebartolone/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

(27613, 523)
(3161, 523)
(3388, 523)
(27613,)
(3161,)
(3388,)
(27613, 15)
(3161, 15)
(3388, 15)

In [25]:
X_train.head()

,track_id,album_tracks,track_duration,track_listens,track_number,chroma_cens,chroma_cens.1,chroma_cens.2,chroma_cens.3,chroma_cens.4,...,tonnetz.39,tonnetz.40,tonnetz.41,zcr,zcr.1,zcr.2,zcr.3,zcr.4,zcr.5,zcr.6
0,2,7,168,1293,3,7.180653,5.230309,0.249321,1.347620,1.482478,...,0.054125,0.012226,0.012111,5.758890,0.459473,0.085629,0.071289,0.0,2.089872,0.061448
1,3,7,237,514,4,1.888963,0.760539,0.345297,2.295201,1.654031,...,0.063831,0.014212,0.017740,2.824694,0.466309,0.084578,0.063965,0.0,1.716724,0.069330
2,5,7,206,1151,6,0.527563,-0.077654,-0.279610,0.685883,1.937570,...,0.040730,0.012691,0.014759,6.808415,0.375000,0.053114,0.041504,0.0,2.193303,0.044861
3,10,2,161,50135,1,3.702245,-0.291193,2.196742,-0.234449,1.367364,...,0.074358,0.017952,0.013921,21.434212,0.452148,0.077515,0.071777,0.0,3.542325,0.040800
4,134,7,207,943,5,0.918445,0.674147,0.577818,1.281117,0.933746,...,0.058766,0.016322,0.015819,4.731087,0.419434,0.064370,0.050781,0.0,1.806106,0.054623

In [26]:
# For use in our prediction app -- so we can fill these in with median values in uploaded tracks.

print(X_train.track_id.median())
print(X_train.album_tracks.median())
print(X_train.track_duration.median())
print(X_train.track_listens.median())
print(X_train.track_number.median())

67706.0
11.0
212.0
495.0
5.0

In [27]:
# We also need to pickle our PCA transformation for use in our prediction app.

import pickle

pickle.dump(pca, open('PCA_transform.pkl', 'wb'))